body {
  background-color: #121212;
}


#clock {
  font-family: 'Orbitron', sans-serif;
  color: #00ffea;
  text-shadow: 0px 0px 15px rgb(236, 111, 230);
  font-size: 100px;
  text-align: center;
  padding-top: 250px;
  padding-bottom: 40px;
}